:root {
    --gold: #b5ab50;
}

@font-face {
    font-family: 'Futura Std';
    src: url('./../Static/Futura-Std-Light.ttf');
}

@media only screen and (min-width: 800px) {
    .caption_purchase {
        font-family: 'ButlerBold';
        color: var(--gold);
        font-size: 45px;
        position: fixed;
        left: 50%;
        top: 10%;
        transform: translate(-50%, -50%);
        overflow: scroll;
        max-width: 600px;

    }

    .info_caption {
        font-family: 'futura std';
        color: grey;
        font-size: 30px;
        width: 45vw;
        position: fixed;
        left: 50%;
        top: 30%;
        transform: translate(-50%, -50%);

    }
}

@media only screen and (max-width: 800px) {
    .caption_purchase {
        font-family: 'ButlerBold';
        color: var(--gold);
        font-size: 30px;
        position: fixed;
        left: 50%;
        top: 10%;
        transform: translate(-50%, -50%);
        overflow: scroll;
        max-width: 600px;

    }

    .info_caption {
        font-family: 'futura std';
        color: grey;
        font-size: 25px;
        width: 80vw;
        position: fixed;
        left: 50%;
        top: 25%;
        transform: translate(-50%, -50%);

    }
}
.Info_copy {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    overflow-x: hidden;
    margin-bottom: 150px;
}

.Column2{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: flex-start;
}

.photo1{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: flex-start;
}

.photo2{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: flex-start;
}
.Row{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60vw;
    text-align: left;
    font-family: "Futura Std";
    padding-top: 150px;
    padding-bottom: px;
}

.Spacer{
    width: 5%
}

.Rowrev{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 60vw;
    text-align: left;
    font-family: "Futura Std";
    padding-top: 150px;
    padding-bottom: px;
}

.h1{
    color: var(--gold);
    font-family: Futura;
    font-size: 3.5vh;
}

.connectingIcon{
    width: 20vw;
    margin-top: 12vh;
}

.data2{
    font-size: 2.5vh;
    width: 100%;
    text-align: left;
}

/*.title2{*/
    /*font-family: 'Proxima Nova';*/
    /*color: var(--gold);*/
    /*font-size: 2.5vw;*/
    /*margin-bottom: 0;*/
    /*margin-top: 0vh;*/
    /*font-weight: bold;*/
/*}*/

.title3{
    font-family: 'ButlerBold';
    color: var(--gold);
    font-size: 31px;

    margin-bottom: 0;
    margin-top: 0vh;
    font-weight: bold;
    text-align: left;
    width: 100%;
}

.icon2{
    width: 100%;
    border-radius: 5px;
}

.buttonBeta3 {
    flex-direction: column;
    display: flex;
    background-color: white; /* Green */
    border: 1px solid var(--gold);
    color: var(--gold);
    padding: 1vw 1vw;
    width: 10vw;
    text-align: center;
    text-decoration: none;
    opacity: 1;
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 2vw;
    font-family: "Futura Std";
    font-size: 1.5vw;
}

.buttonBeta3:hover {
    flex-direction: column;
    display: flex;
    background-color: var(--gold); /* Green */
    border: 1px solid var(--gold);
    color: white;
    padding: 1vw 1vw;
    width: 10vw;
    text-align: center;
    text-decoration: none;
    opacity: 1;
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 2vw;
    font-family: "Futura Std";
    font-size: 1.5vw;
}


@media only screen and (max-width: 800px){
    .Info_copy {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        overflow-x: hidden;
        justify-content: stretch;
    }

    .Row{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        text-align: center;
        font-family: "Futura Std";
        padding-top: 0;
        padding-bottom: 10vh;
    }

    .Spacer{
        width: 0;
        height: 0;
    }

    .Rowrev{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        text-align: center;
        font-family: "Futura Std";
        padding-top: 0;
        padding-bottom: 10vh;
    }

    .Column2{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%
    }

    .h1{
        color: var(--gold);
        font-family: Futura;
        font-size: 3.5vh;
    }

    .data2{
        font-size: 2.5vh;
        margin-bottom: 10vh;
        text-align: justify;
        width: 80%;
    }

    .title2{
        font-family: 'ButlerBold';
        color: var(--gold);
        font-size: 12vw;
        margin-bottom: 0;
        margin-top: 0;
        display: flex;
        font-weight: bold;
    }

    .icon2{
        width: 100%;
        margin-top: 0;
        display:flex;
        border-radius: 0;
    }

    .photo1{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
    }

    .photo2 {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
    }

    .mobile{
        margin-top: 100vh;
        margin-bottom: 10vh;

    }

    .title3{
        width: 80%;
    }

    .buttonBeta3 {
        flex-direction: column;
        display: flex;
        background-color: white; /* Green */
        border: 1px solid var(--gold);
        color: var(--gold);
        padding: 4vw 4vw;
        width: 34vw;
        text-align: center;
        text-decoration: none;
        opacity: 1;
        transition: 0.3s;
        text-decoration: none;
        cursor: pointer;
        font-size: 16px;
        border-radius: 10vw;
        font-family: "Futura Std";
        font-size: 5vw;
    }
    .buttonBeta3:hover {
        flex-direction: column;
        display: flex;
        background-color: var(--gold); /* Green */
        border: 1px solid var(--gold);
        color: white;
        padding: 4vw 4vw;
        width: 34vw;
        text-align: center;
        text-decoration: none;
        opacity: 1;
        transition: 0.3s;
        text-decoration: none;
        cursor: pointer;
        font-size: 16px;
        border-radius: 10vw;
        font-family: "Futura Std";
        font-size: 5vw;
    }
}

@media only screen and (max-width: 600px) {
    .Info_copy {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        overflow-x: hidden;
        justify-content: stretch;
    }
}
