:root {
    --gold: #b5ab50;
}


.Info_copy {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 150vh;
    overflow-x: hidden;
}

.Column2{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: flex-start;
}

.Row{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60vw;
    text-align: justify;
    font-family: "Proxima Nova";
    padding-top: 20vh;
    padding-bottom: 5vh;
}

.Spacer{
    width: 5%
}

.Rowrev{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 60vw;
    text-align: justify;
    font-family: "Proxima Nova";
    padding-top: 10vh;
    padding-bottom: 20vh;
}

.h1{
    color: var(--gold);
    font-family: Futura;
    font-size: 3.5vh;
}

.connectingIcon{
    width: 20vw;
    margin-top: 12vh;
}

.data2{
    font-size: 2.5vh;
    width: 100%;
    text-align: justify;
}

.title2{
    font-family: 'Proxima Nova';
    color: var(--gold);
    font-size: 3.5vw;
    margin-bottom: 0;
    margin-top: 0vh;
    font-weight: bold;
}

.icon2{
    width: 100%;
    border-radius: 5px;
}

.buttonBeta3 {
    flex-direction: column;
    display: flex;
    background-color: white; /* Green */
    border: 1px solid var(--gold);
    color: var(--gold);
    padding: 1vw 1vw;
    width: 10vw;
    text-align: center;
    text-decoration: none;
    opacity: 1;
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 2vw;
    font-family: "Proxima Nova";
    font-size: 1.5vw;
}

.buttonBeta3:hover {
    flex-direction: column;
    display: flex;
    background-color: var(--gold); /* Green */
    border: 1px solid var(--gold);
    color: white;
    padding: 1vw 1vw;
    width: 10vw;
    text-align: center;
    text-decoration: none;
    opacity: 1;
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 2vw;
    font-family: "Proxima Nova";
    font-size: 1.5vw;
}


@media only screen and (max-width: 800px){
    .Info_copy {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 300vh;
        overflow-x: hidden;
        justify-content: stretch;
    }

    .Row{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        text-align: center;
        font-family: "Proxima Nova";
        padding-top: 0;
        padding-bottom: 5vh;
    }

    .Spacer{
        width: 0;
        height: 0;
    }

    .Rowrev{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        text-align: center;
        font-family: "Proxima Nova";
        padding-bottom: 10vh;
    }

    .Column2{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%
    }

    .h1{
        color: var(--gold);
        font-family: Futura;
        font-size: 3.5vh;
    }

    .data2{
        font-size: 2.5vh;
        margin-bottom: 10vh;
        text-align: center;
        width: 80%;
    }

    .title2{
        font-family: 'Proxima Nova';
        color: var(--gold);
        font-size: 12vw;
        margin-bottom: 0;
        margin-top: 0;
        display: flex;
        font-weight: bold;
    }

    .icon2{
        width: 100%;
        margin-top: 0;
        display:flex;
        border-radius: 0;
    }

    .mobile{
        margin-top: 100vh;
        margin-bottom: 10vh;

    }

    .buttonBeta3 {
        flex-direction: column;
        display: flex;
        background-color: white; /* Green */
        border: 1px solid var(--gold);
        color: var(--gold);
        padding: 4vw 4vw;
        width: 34vw;
        text-align: center;
        text-decoration: none;
        opacity: 1;
        transition: 0.3s;
        text-decoration: none;
        cursor: pointer;
        font-size: 16px;
        border-radius: 10vw;
        font-family: "Proxima Nova";
        font-size: 5vw;
    }
    .buttonBeta3:hover {
        flex-direction: column;
        display: flex;
        background-color: var(--gold); /* Green */
        border: 1px solid var(--gold);
        color: white;
        padding: 4vw 4vw;
        width: 34vw;
        text-align: center;
        text-decoration: none;
        opacity: 1;
        transition: 0.3s;
        text-decoration: none;
        cursor: pointer;
        font-size: 16px;
        border-radius: 10vw;
        font-family: "Proxima Nova";
        font-size: 5vw;
    }
}

@media only screen and (max-width: 600px) {
    .Info_copy {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 230vh;
        overflow-x: hidden;
        justify-content: stretch;
    }
}